body {
    padding-top: 5rem;
}

.table-fix-head thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.my-custom-scrollbar-user-list {
    position: relative;
    height: 350px;
    overflow: auto;
}

.my-custom-scrollbar-all-systems {
    position: relative;
    height: 700px;
    overflow: auto;
}

.my-custom-login-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


.align-button {
    margin-top: 3rem; /* Adjust this value as needed */
}

.custom-btn {
    background-color: #1cbe1c;
    color: #fff; /* Change the text color if needed */
}
