<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Login - IoT Device Management</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">IoT Management</a>
      </button>
    </nav>

    <div class="container mt-4">
      <div class="row">
          <div class="col-md-6 pr-5">
            <h3 style="margin-top: 70px;" class="text-center text-primary">Register</h3>
            <div style="margin-top: 70px;" class="d-flex justify-content-center">
              <button class="btn btn-primary" onclick="location.href='/register'">Register</button>
            </div>
              <h3 style="margin-top: 150px;" class="text-center text-primary">Login</h3>
              <form id="loginForm">
                <div class="form-group">
                  <label for="userEmail">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="userEmail"
                    name="userEmail"
                    placeholder="name@example.com"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="userPassword">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="userPassword"
                    name="userPassword"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary mx-auto d-block">
                  Login
                </button>
              </form>
        </div>

        <div class="col-md-6 pl-5">
            <h2 class="mb-4 text-center text-primary">System List</h2>
              <div class="table-fix-head my-custom-login-scrollbar table-wrapper-scroll-y">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>System Name</th>
                            <!--<th>Owner Id</th>-->
                            <th>Owner Name</th>
                            <!--<th>Created</th>-->
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="systemsTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/js/auth/login.js"></script>
  </body>
</html>
